/* Copyright contributors to the IBM Verify Identity Access and Verify SaaS Strong Authentication Integration project. */
a {
	color: #0F6DFF !important;
}

#darkLoadingIndicator {
	background-image: url('../../loader_dark.gif') !important;
	margin-top: 40px !important;
}

h1 {
    margin-top: 4px !important;
}

.access-code-p {
	margin-top:40px !important;
	font-size:8pt !important; 
	margin-bottom:8px !important;
}

.middle {
  height: 46px !important;
  width: 70% !important;
}

.textbox-left {
	width:20% !important;
	padding-left:8px !important;
	padding-right:0px !important;
	height:46px !important;
	line-height:44px !important;
}

.textbox-right {
	width:80% !important;
	height:46px !important;
}

#lightLoadingIndicator {
	background-image: url('../../loader_light.gif') !important;
}