/* Copyright contributors to the IBM Verify Identity Access and Verify SaaS Strong Authentication Integration project. */
.type-input-p {
    margin-top: 40px !important;
    font-size: 8pt !important;
    margin-bottom: 8px !important;
}