/* Copyright contributors to the IBM Security Verify Access and Verify SaaS Strong Authentication Integration project. */
.username-p {
    margin-top:40px !important;
    margin-bottom:8px !important;
    font-size:8pt !important;
}