/* Copyright contributors to the IBM Verify Identity Access and Verify SaaS Strong Authentication Integration project. */
.loader {
	background-image: url('../../loader_light.gif') !important;
	margin-top: 40px !important;
}

.success-check {
	margin-top: -20px !important;
}
